{
  "presets": [
    [
      "modern-browsers", {
        "modules": false,
        "edge": true,
      },
    ],
  ],
  "env": {
    "production": {
      "comments": false,
      "compact": true,
      "minified": true,
    },
    "development": {
      "compact": false,
    },
  },
}
