.controls
  float: left

svg
  width: 500px
  height: 500px
  margin: 1em

label
  display: block

.rangeslider__handle
  line-height: 40px
  text-align: center

  &:after
    background: 0
