@import '../node_modules/spectrum-colorpicker/spectrum'
@import 'sliders'

body
  margin: 0
  display: flex
  height: 100vh

svg
  width: 100vmin
  height: 100vmin
  margin: 0
  flex-shrink: 1

.controls
  box-sizing: border-box
  padding: 0 0.5em 0 1em
  width: calc(100vw - 100vh)
  min-width: 10.5em
  max-height: 100vh
  overflow-y: auto
  overflow-x: hidden

.sliders
  width: 18em
  max-width: 100%

h2
  font-family: sans-serif
  font-size: 1.5em
  font-weight: normal
  font-variant: small-caps
  margin-top: 0.5em
  margin-bottom: 0.25em

label
  display: block

.slider
  margin-top: 1em

.slider__label
  font-weight: bold
  display: inline

.slider__value
  display: inline
  font-weight: bold

.slider--first
  +track-color(hsl(200, 75%, 60%))
  .slider__value
    color: hsl(200, 75%, 45%)

.slider--second
  +track-color(hsl(265, 75%, 67.5%))
  .slider__value
    color: hsl(265, 75%, 50%)

.slider--third
  +track-color(hsl(120, 75%, 47.5%))
  .slider__value
    color: hsl(120, 75%, 35%)

@media (orientation: portrait)
  body
    flex-direction: column

  .controls
    width: 100vw
    display: flex
    justify-content: center
    flex-shrink: 0

  .sliders, .colors-and-shapes
    flex-shrink: 1
    margin-bottom: 0.5em

  .sliders
    margin-left: 1.5em
