@import '../node_modules/spectrum-colorpicker/spectrum'
@import 'sliders'

body
  margin: 0
  display: flex

svg
  width: 100vh
  height: 100vh
  margin: 0

.controls
  margin: 0 0.5em 0 1em
  display: flex
  flex-flow: column
  max-height: 100vh
  overflow-y: auto
  overflow-x: hidden
  width: 18em

h2
  font-family: sans-serif
  font-size: 1.5em
  font-weight: normal
  font-variant: small-caps
  margin-top: 0.5em
  margin-bottom: 0.25em

label
  display: block

.slider
  margin-top: 1em

.slider__label
  font-weight: bold
  display: inline

.slider__value
  display: inline
  font-weight: bold

.slider--first
  +track-color(hsl(200, 75%, 80%))
  .slider__value
    color: hsl(200, 75%, 45%)

.slider--second
  +track-color(hsl(280, 75%, 85%))
  .slider__value
    color: hsl(280, 75%, 50%)

.slider--third
  +track-color(hsl(120, 75%, 75%))
  .slider__value
    color: hsl(120, 75%, 35%)
